/* Fundo com gradiente */
.login-container {
  background: linear-gradient(135deg, #e9f035 0%, #f29c11 100%);
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background-size: 400% 400%;
}

/* Contêiner para as estrelas */
.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none; /* Impede a interação com o fundo */
}

/* Estrelas piscando e movendo-se aleatoriamente */
.stars span {
  position: absolute;
  width: 5px;  
  height: 5px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: starBlinking 3s infinite, starMoving 10s linear infinite;
}

/* Animação de piscar (alterando opacidade) */
@keyframes starBlinking {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.3;
  }
}

/* Animação de movimento das estrelas */
@keyframes starMoving {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(-100%) translateX(50vw);
  }
}


.login-form-wrapper {
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-out;
  z-index: 2;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estilo do título */
h2 {
  color: #4a4a4a;
  font-weight: bold;
  margin-bottom: 1.5rem;
}


.form-control {
  border: 2px solid black;  
  border-radius: 0;
  padding: 0.5rem 0;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}

/* Estilo das mensagens de erro */
.form-control.is-invalid {
  border-color: red !important; 
}

.form-control.is-invalid:focus {
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.8) !important; 
}

.form-control-feedback {
  color: red !important; 
  font-size: 0.875rem; 
}

/* Estilo do botão */
.submit-btn {
  background: linear-gradient(to right, #e9f035, #f29c11); 
  border: 2px solid black;  
  border-radius: 25px;
  padding: 0.75rem;
  font-weight: bold;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
  color: black;
}

/* Efeito de hover  */
.submit-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

/* Efeito de clique */
.submit-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
